[submodule "submodules/mech"]
	path = submodules/mech
	url = git@github.com:unifyai/mech.git
[submodule "submodules/ivy"]
	path = submodules/ivy
	url = git@github.com:unifyai/ivy.git
[submodule "submodules/vision"]
	path = submodules/vision
	url = git@github.com:unifyai/vision.git
[submodule "submodules/robot"]
	path = submodules/robot
	url = git@github.com:unifyai/robot.git
[submodule "submodules/gym"]
	path = submodules/gym
	url = git@github.com:unifyai/gym.git
[submodule "submodules/memory"]
	path = submodules/memory
	url = git@github.com:unifyai/memory.git
[submodule "submodules/models"]
	path = submodules/models
	url = git@github.com:unifyai/models.git
[submodule "submodules/builder"]
	path = submodules/builder
	url = git@github.com:unifyai/builder.git
[submodule "submodules/demo-utils"]
	path = submodules/demo-utils
	url = git@github.com:unifyai/demo-utils.git
[submodule "submodules/doc-builder"]
	path = submodules/doc-builder
	url = git@github.com:unifyai/doc-builder.git
[submodule "submodules/unifyai.github.io"]
	path = submodules/unifyai.github.io
	url = git@github.com:unifyai/unifyai.github.io.git
[submodule "submodules/ecosystem"]
	path = submodules/ecosystem
	url = git@github.com:unifyai/ecosystem.git
